{% extends "base.html" %} {% block content %}

<div class="max-w-lg mx-auto space-y-8 mt-12">
  <div>
    <h1 class="text-3xl font-semibold text-gray-900 dark:text-gray-300">
      Booking Lapangan
    </h1>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
      Booking lapangan {{lapangan}} dengan harga Rp. {{lapangan.harga_perjam}} per jam.
    </p>
  </div>
  <form
    method="post"
    action="{% url 'add_booking' lapangan_id=lapangan.id %}"
    enctype="multipart/form-data"
    class="flex flex-col gap-8"
  >
    {% csrf_token %}

    <div class="flex flex-col gap-2">
      <label
        for="{{ form.jadwals.id_for_label }}"
        class="text-xl font-medium text-gray-900 dark:text-gray-300"
        >Jadwal Tersedia:</label
      >
      {{ form.jadwals.errors }}
      <div class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        {{ form.jadwals }}
      </div>
    </div>

    <div>
      <label
        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white"
        for="{{ form.bukti_pembayaran.id_for_label }}"
        >Bukti Pembayaran:</label
      >
      {{ form.bukti_pembayaran.errors }}
      <input
        type="file"
        name="{{ form.bukti_pembayaran.name }}"
        id="{{ form.bukti_pembayaran.id_for_label }}"
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>

    <input
      class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
      type="submit"
      value="Submit"
    />
  </form>

  {% if form.errors %}
  <div class="error text-red-800">
    <p>Please correct the following errors:</p>
    <ul>
      {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock content %}
