<!-- booking_list.html -->

{% extends 'base.html' %} {% block content %}
<div class='z-0'>
<h2 class="text-3xl font-bold mb-4">Booking List</h2>
<table
  class="min-w-full bg-white border border-gray-300 shadow-md rounded-md overflow-hidden justify-items-center"
>
  <thead class="bg-gray-100">
    <tr>
      <th class="text-center">User</th>
      <th class="text-center">Lapangan</th>
      <th class="text-center">Status</th>
      <th class="text-center">Jadwal</th>
      <th class="text-center">Bukti Pembayaran</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr class="font-medium">
      <td class="py-2 text-center">{{ booking.user.nama }}</td>
      <td class="py-2 text-center">{{ booking.lapangan.nama }}</td>
      <td class="py-2 text-center">{{ booking.status }}</td>
      <td class="py-2 text-center">
        {% for jadwal in booking.jadwals.all %} {{ jadwal.tanggal }} {{ jadwal.jam_mulai}}  {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>

      <td class="py-2 grid justify-items-center">
        {% if booking.bukti_pembayaran %}
        <a href="{{booking.bukti_pembayaran.url}}" target="_blank">
            <img src="{{ booking.bukti_pembayaran.url }}" alt="Bukti Pembayaran" class="max-w-full h-auto cursor-pointer" style="max-width: 200px; max-height: 200px;">
        </a>
    {% else %}
        No Image
    {% endif %}
    
    
    </td>
      </td>
      <td class="items-center">
        {% if booking.status == 'menunggu' %}
        <form
          method="post"
          action="{% url 'booking_list' %}"
          class="flex items-center justify-center"
        >
          {% csrf_token %}
          <input type="hidden" name="booking_id" value="{{ booking.id }}" />
          <button
            type="submit"
            name="action"
            value="accept"
            class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-md mx-1"
          >
            Accept
          </button>
          <button
            type="submit"
            name="action"
            value="reject"
            class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-md mx-1"
          >
            Reject
          </button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var modalTriggers = document.querySelectorAll('[data-modal-trigger]');

      modalTriggers.forEach(function (trigger) {
          var modalId = trigger.getAttribute('data-modal-trigger');
          var modal = document.getElementById(modalId);

          trigger.addEventListener('click', function () {
              modal.style.display = 'flex';
          });

          modal.addEventListener('click', function (e) {
              if (e.target === modal) {
                  modal.style.display = 'none';
              }
          });
      });
  });
</script>

<style>
  .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
      z-index: 1000;
  }

  .modal-content {
      max-width: 90%;
      max-height: 90%;
  }

  .modal-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .content-cell {
      text-indent: 10px;
      margin-left: -10px;
      border: 1px solid #ddd;
  }
</style>

{% endblock %}
