{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="flex items-center justify-center h-screen rounded-lg">
        <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Register</h5>

                <div class="mb-3"> 

                </div>

                <div>
                  <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                  <input
        type="{{ form.username.field.widget.input_type }}"
        name="{{ form.username.name }}"
        id="{{ form.username.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.username.field.widget.attrs.placeholder }}"
        {% if form.username.field.required %}required{% endif %}
        value="{{ form.username.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>
                
                <div>
                    <label for="{{ form.no_telp.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                    <input
        type="{{ form.no_telp.field.widget.input_type }}"
        name="{{ form.no_telp.name }}"
        id="{{ form.no_telp.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.no_telp.field.widget.attrs.placeholder }}"
        {% if form.no_telp.field.required %}required{% endif %}
        value="{{ form.no_telp.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>

                <div>
                    <label for="{{ form.nama.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input
        type="{{ form.nama.field.widget.input_type }}"
        name="{{ form.nama.name }}"
        id="{{ form.nama.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.nama.field.widget.attrs.placeholder }}"
        {% if form.nama.field.required %}required{% endif %}
        value="{{ form.nama.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>

                <div>
                    <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input
        type="{{ form.email.field.widget.input_type }}"
        name="{{ form.email.name }}"
        id="{{ form.email.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.email.field.widget.attrs.placeholder }}"
        {% if form.email.field.required %}required{% endif %}
        value="{{ form.email.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>

                <div>
                    <label for="{{ form.role.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                    <select
        name="{{ form.role.name }}"
        id="{{ form.role.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        {% if form.role.field.required %}required{% endif %}
    >
        {% for value, label in form.role.field.choices %}
            <option value="{{ value }}" {% if value == form.role.value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

                </div>

                <div class="mb-3"> 

                </div>


                <div>
                    <label for="{{ form.foto.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Photo</label>
                    {{ form.foto }}
                </div>

                <div class="mb-3"> 

                </div>

                <div>
                    <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input
        type="password"
        name="{{ form.password1.name }}"
        id="{{ form.password1.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.password1.field.widget.attrs.placeholder }}"
        {% if form.password1.field.required %}required{% endif %}
        value="{{ form.password1.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>

                <div>
                    <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white ">Confirm Password</label>
                    <input
        type="password"
        name="{{ form.password2.name }}"
        id="{{ form.password2.id_for_label }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{ form.password2.field.widget.attrs.placeholder }}"
        {% if form.password2.field.required %}required{% endif %}
        value="{{ form.password2.value|default:'' }}"
    >
                </div>

                <div class="mb-3"> 

                </div>
            
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>

            </form>
        </div>
    </div>
    {% if form.errors %}
    <div class="max-w-xl mx-auto mt-6 bg-red-100 text-red-700 p-4 rounded-lg">
      <ul class="list-disc pl-5">
        {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors.0 }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div style="height: 20px;"></div>
{% endblock %}
