{% extends "base.html" %} 
{% load static %} 
{% block content %}

<style>
   .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }

    .profile-padding {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
    
    .desc-padding {
      padding-top: 2px;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 20px;
    }

    .rounded-box-head {
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;
    }

    .rounded-box {
      border-radius: 17px;
      padding-top: 5px;
      margin-bottom: 20px;
      background-color: #cee6f5;
    }

    .custom-textarea {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 2px solid #000;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    #snackbar-container {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        display: none;
    }

    .text-button {
      font-size: 14px;
      line-height: 20px;
    }

    .long-desc {
      inline-size: 750px;
      overflow-wrap: break-word;
    }

</style>
  <div id="snackbar-container"></div>

  <div class="container mx-auto p-4 md:p-8" style="inline-size:880px">
    <div class="bg-white shadow-xl rounded-lg overflow-hidden">
      
      {% if lapangan.foto %}
      <div
        class="bg-cover bg-center h-56 p-4"
        style="background-image: url('{{ lapangan.foto.url }}');"
      >
        <div class="flex justify-end"></div>
      </div>
      {% else %}
      <div
        class="bg-cover bg-center h-56 p-4"
        style="background-image: url('https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg');"
      >
        <div class="flex justify-end"></div>
      </div>
      {% endif %}
      
      <div class="flex flex-col items-center p-4 md:p-8">
        <h2 class="block text-3xl text-gray-900 font-bold mb-6">
          {{ lapangan.nama }}
        </h2>
        {% if lapangan.deskripsi != '' %}
          <p class="text-gray-700" style="margin-bottom: 23px;">{{ lapangan.deskripsi }}</p>            
        {% else %}
          <p class="text-gray-700" style="margin-bottom: 23px;">Lapangan ini belum memiliki deskripsi</p>
        {% endif %}
        <div class="mb-4">
          <div class="mb-4">
            <span class="text-gray-900 font-bold">Owner:</span>
            <span class="text-gray-600">{{ lapangan.pemilik }}</span>
          </div>
          <div class="mb-4">
            <span class="text-gray-900 font-bold">No. Telp:</span>
            <span class="text-gray-600">{{ lapangan.no_telp }}</span>
          </div>
          <div class="mb-4">
            <span class="text-gray-900 font-bold">Harga per Jam:</span>
            <span class="text-gray-600">Rp{{ lapangan.harga_perjam }},00</span>
          </div>
          <div class="mb-4">
            <span class="text-gray-900 font-bold">Alamat:</span>
            <span class="text-gray-600">{{ lapangan.alamat }}</span>
          </div>
          <h3 class="font-bold text-gray-900 mb-2">Jadwal:</h3>
          {% if lapangan.jadwals.all %} 
            {% for jadwal in lapangan.jadwals.all %}
              <div class="mb-2 p-2 bg-gray-100 rounded">
                <span class="font-semibold">{{ forloop.counter }}.&nbsp</span> {{ jadwal.tanggal }} -
                <span> {{jadwal.jam_mulai }} to {{ jadwal.jam_selesai }}&nbsp </span>
              </div>
            {% endfor %} 
            {% if user.role == 'pengguna' %} 
              <button class="my-4">
                <a
                  href="{% url 'add_booking' lapangan_id=lapangan.pk %}"
                  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl"
                >
                  Book
                </a>
              </button>
            {% endif %}
          {% else %}
            <p class="text-gray-700 mb-3">Belum ada jadwal yang terdaftar</p>
          {% endif %}
          {% if fromOwnedPage %}
            <div class="flex flex-row items justify-between mb-3">
              <button
                id="jadwalModalBtn"
                class="mt-2 mb-2 bg-blue-500 hover:bg-blue-600 text-white text-button font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl"
              >
                Add Jadwal
              </button>
              <button>
                <a
                  href="{% url 'update_lapangan' pk=lapangan.pk %}"
                  class="bg-blue-500 hover:bg-blue-600 text-white text-button font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl"
                >
                  Update
                </a>
              </button>
            </div>
          {% endif %}
          <div>
            <h3 class="font-bold text-gray-900">Rating:</h3>
            {{ avgRating }}
            <h3 class="font-bold text-gray-900">{{ reviewCount }} reviews</h3>
            {% if user.role == 'pengguna' and isBooked %}
              <div style="padding-top: 10px;"> </div>
            {% endif %}         
            <div class="rating" style="padding-bottom: 15px;">  
              {% if user.role == 'pengguna' and isBooked %}
                <input type="radio" id="star0" name="rating-2" class="star mask mask-star-2"/>
                <input type="radio" id="star1" name="rating-2" class="star mask mask-star-2"/>
                <input type="radio" id="star2" name="rating-2" class="star mask mask-star-2"/>
                <input type="radio" id="star3" name="rating-2" class="star mask mask-star-2"/>
                <input type="radio" id="star4" name="rating-2" class="star mask mask-star-2"/>
              {% endif %}
            </div>
            {% if user.role == 'pengguna' and isBooked %}
              <div style="padding-bottom: 8px;"> </div>
            {% endif %}           
          </div>          
          {% if reviews is not None %}
            {% if reviews.all and not noDescription %}
              <div style="padding-top:12px"></div>
              {% for review in reviews.all %}
                {% if review.deskripsi != "" %}
                  <div class="rounded-box">
                    <div class="mb-2" style="margin-right: 23px;">
                      <div class="flex items-center">
                        <div class="profile-padding">
                          <img class="profile-picture" src="{{ review.pengguna.foto.url }}" alt="{{ review.pengguna.username }}" />
                        </div>
                        <div class="font-medium dark:text-white">
                            <p>{{ review.pengguna.username }} <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500 dark:text-gray-400">Memberikan ulasan {{ review.rating }}/5 pada {{ review.tanggal }}</time></p>
                        </div>
                      </div>
                    </div>
                    <div>
                    <div class="desc-padding long-desc">{{ review.deskripsi }}</div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %} 
            {% else %}
              <p class="text-gray-700">Belum ada deskripsi ulasan yang diberikan</p>
            {% endif %}
          {% else %}
            <p class="text-gray-700">Ada masalah ketika ingin menampilkan ulasan</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div
    id="reviewModal"
    class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 z-50"
  >
    <div class="flex items-center justify-center min-h-screen">
      <div
        class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-6"
      >
        <div class="flex justify-end">
          <button
            id="closeReviewModalBtn"
            class="text-gray-600 hover:text-gray-900"
            aria-label="Close"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      <form method="POST" id="reviewForm">
          {% csrf_token %}
          <input type="hidden" name="lapangan_id" value="{{ lapangan.id }}"/>
          <input type="hidden" name="is_skipped" id="is_skipped" value="false">
          <div class="flex flex-col gap-5">
            <div class="text-xl">Ceritakan pengalaman Anda di sini😊</div>
              {{reviewForm.as_div}}
              <div class="flex flex-row">
                <div class="flex gap-5 mx-auto">
                  <input class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
                      type="submit" value="Lewatkan" id="skipButton" onclick="setSkipped(true)">
                </div>
                <div class="flex gap-5 mx-auto">
                    <input class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
                        type="submit" value="Submit" id="submitButton" onclick="setSkipped(false)">
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<div
    id="jadwalModal"
    class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 z-50"
  >
    <div class="flex items-center justify-center min-h-screen">
      <div
        class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-6"
      >
        <div class="flex justify-end">
          <button
            id="closeModalBtn"
            class="text-gray-600 hover:text-gray-900"
            aria-label="Close"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <form id="jadwalForm" class="space-y-4"
            method="post"
            action="{% url 'create_jadwal' lapangan_id=lapangan.id %}"
            enctype="multipart/form-data"
            >
            {% csrf_token %}
          <input type="hidden" name="lapangan_id" value="{{ lapangan.id }}" />
          <div>
            <label for="tanggal" class="block text-sm font-medium text-gray-700"
              >Tanggal</label
            >
            <input
              type="date"
              id="tanggal"
              name="tanggal"
              required
              class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
            />
          </div>

        <div>
          <label for="jam_mulai" class="block text-sm font-medium text-gray-700"
            >Jam Mulai</label
          >
          <input
            type="time"
            id="jam_mulai"
            name="jam_mulai"
            required
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
          />
        </div>
        <div>
          <label
            for="jam_selesai"
            class="block text-sm font-medium text-gray-700"
            >Jam Selesai</label
          >
          <input
            type="time"
            id="jam_selesai"
            name="jam_selesai"
            required
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"
          />
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out"
          >
            Add Jadwal
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="flex justify-center my-8">
  {% if fromOwnedPage %}
  <a
    href="{% url 'get_owned_lapangan' %}"
    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-button text-white font-semibold rounded-md transition duration-300"
  >
    Back
  </a>
  {% else %}
  <a
    href="{% url 'home' %}"
    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md transition duration-300"
  >
    Back
  </a>
  {% endif %}
</div>

<div style="height: 20px;"></div>

<script>
  document
    .getElementById("jadwalModalBtn")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("jadwalModal").classList.remove("hidden");
    });

  document
    .getElementById("closeModalBtn")
    .addEventListener("click", function () {
      document.getElementById("jadwalModal").classList.add("hidden");
  });
  </script>
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const stars = document.querySelectorAll('.star');
    stars.forEach((star, index) => {
      star.addEventListener('click', function (event) {
        event.preventDefault();
        setSelectedStar(index);
        document.getElementById("reviewModal").classList.remove("hidden");
        document
        .getElementById("closeReviewModalBtn")
        .addEventListener("click", function () {
          // resetSelectedStar(index);
          // document.getElementById("reviewModal").classList.add("hidden");
          location.reload();
        });
        document
        .getElementById("skipButton")
        .addEventListener("click", function () {
          event.preventDefault();
        });
        document
        .getElementById("submitButton")
        .addEventListener("click", function () {
          event.preventDefault();
          // resetSelectedStar(index);
          // document.getElementById("reviewModal").classList.add("hidden");
        });
        document
        .getElementById("reviewForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(this);
          formData.append("rating", index + 1)
          const csrftoken = getCookie("csrftoken");
          fetch(
            "{% url 'create_review' %}",
            {
              method: "POST",
              body: formData,
              headers: {
                "X-CSRFToken": csrftoken,
              },
            }
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.status === 'success') {
                  showSnackbar('Ulasan berhasil ditambahkan!');
              } else if (data.status === 'error') {
                  showSnackbar(data.message);
              }
              // document.getElementById("reviewModal").classList.add("hidden");
              location.reload();
            })
            .catch((error) => {
              showSnackbar(error)
              console.error("Error:", error);
              showSnackbar('Terdapat masalah internal ketika menyimpan ulasan.');
              location.reload();
            })
        });
      });
    });

    function setSelectedStar(index) {
      for (let i = 0; i <= index; i++) {
        document.querySelector(`#star${i}`).classList.add('bg-orange-400');
      }
    }
    function resetSelectedStar(index) {
      for (let i = 0; i <= index; i++) {
        document.querySelector(`#star${i}`).classList.remove('bg-orange-400');
      }
    }
    function setSkipped(value) {
        document.getElementById('is_skipped').value = value.toString();
    }
  </script>
  <script>
      function showSnackbar(message) {
          var snackbarContainer = document.getElementById('snackbar-container');
          snackbarContainer.textContent = message;
          snackbarContainer.style.display = 'block';

          localStorage.setItem('snackbarMessage', message);

          setTimeout(function () {
              hideSnackbar();
          }, 3000);
      }

      function hideSnackbar() {
          var snackbarContainer = document.getElementById('snackbar-container');
          snackbarContainer.style.display = 'none';
          localStorage.removeItem('snackbarMessage');
      }

      var storedMessage = localStorage.getItem('snackbarMessage');
      if (storedMessage) {
          showSnackbar(storedMessage);
      }

      // showSnackbar("Welcome to DashJeans!");
  </script>

{% endblock %}
