{% extends "base.html" %} {% load static %} {% block content %}

<body class="bg-gray-100">
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl font-semibold mb-4">Bookings for {{ lapangan.nama }}</h1>

        {% if bookings %}
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">User</th>
                        <th class="py-2 px-4 border-b">Waktu Pesan</th>
                        <th class="py-2 px-4 border-b">Jumlah Jam</th>
                        <th class="py-2 px-4 border-b">Total Harga</th>
                        <th class="py-2 px-4 border-b">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td class="py-2 px-4 border-b">{{ booking.user.nama }}</td>
                            <td class="py-2 px-4 border-b">{{ booking.waktu_pesan }}</td>
                            <td class="py-2 px-4 border-b">{{ booking.jumlah_jam }}</td>
                            <td class="py-2 px-4 border-b">{{ booking.total_harga }}</td>
                            <td class="py-2 px-4 border-b">{{ booking.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No bookings for this lapangan.</p>
        {% endif %}
    </div>
</body>

</html>

{% endblock %}