{% extends "base.html" %} {% block content %}

<div class="text-center my-4">
  <a
    href="{% url 'register_lapangan' %}"
    class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded"
  >
    Create Lapangan
  </a>
</div>
<div style="height: 10px;"></div>

<div class="flex flex-col items-center gap-5">
  {% if lapangans %}
    {% for lapangan in lapangans %}
    <div
      class="bg-white border border-gray-200 rounded-lg shadow md:max-w-3xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 w-full"
    >
      <a
        href="{% url 'lapangan_detail_owned' pk=lapangan.pk %}"
        class="flex flex-col items-center md:flex-row"
      >
        {% if lapangan.foto %}
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{ lapangan.foto.url }}" alt="{{ lapangan.nama }}" />
        {% else %}
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="{{ lapangan.nama }}" />
        {% endif %}

        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ lapangan.nama }}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Alamat: {{ lapangan.alamat }}
          </p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Harga per Jam: Rp{{ lapangan.harga_perjam }},00
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  {% else %}
    <div class="w-full md:max-w-xl p-6 bg-white shadow-md rounded-lg border border-gray-200">
      <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0 0h-1V9h1m2 3v7m1 0h-4m4 0v1a2 2 0 001.85 1.994L16 22a2 2 0 002-2v-1m0 0H9m7 0a2 2 0 002-2v-1m0 0V9m0 0H9" />
        </svg>
        <h3 class="mt-2 text-xl font-semibold text-gray-800">Tidak Ada Lapangan Yang Dimiliki</h3>
        <p class="mt-1 text-gray-600">We couldn't find any lapangan. Please create one.</p>
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}
